figcaption > h4 {
    margin: 0;
}

bitsden-comments .comments {
    border-top: 1px solid #333333;
}

bitsden-comments input {
    background-color: #333333;
    border: 0;
    color: #ffffff;
    padding: 5px;
}

bitsden-comments textarea {
    background-color: #333333;
    border: 0;
    color: #ffffff;
    padding: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
